@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hubot Sans';
  src:
    url('/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Hubot Sans';
  @apply text-white;
  scroll-behavior: smooth;
  overflow: overlay;
  background: #151517;
  height: 100%;
}

main {
  min-height: calc(100vh);
  padding-top: 5rem;
  padding-bottom: 1rem;
  padding-left: 1rem; padding-right: 1rem;
}

*::-webkit-scrollbar {
  font-size: 18px;
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.25rem;
  @apply bg-scrollbar-bg;
}

*::-webkit-scrollbar-thumb {
  margin: 10px;
  width: 10px;
  height: 10px;
  position: relative;
  right: 6px;
  @apply bg-scrollbar-thumb-bg;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-scrollbar-thumb-hover;
}

.glass {
  background-color: rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.glass.dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.glass.mid-dark {
  background-color: rgba(0, 0, 0, 0.6) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.glass.light {
  background-color: rgba(20, 20, 20, 0.5) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.dotted-corners {
  position: relative;
}

.dotted-corners::before {
  content: "";
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0; right: 0;
  width: 2px; height: 100%;
  z-index: 21;
}

.dotted-corners::after {
  content: "";
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0; left: 0;
  width: 2px; height: 100%;
  z-index: 21;
}

.dotted-corners.inverted::after, .dotted-corners.inverted::before {
  @apply border-accent-2;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.dotted-corners.borders-existent::before, .dotted-corners.borders-existent::after {
  height: calc(100% + 2px);
  top: -1px;
}

.dotted-corners.borders-existent::before {
  right: -1px;
}

.dotted-corners.borders-existent::after {
  left: -1px;
}

.dotted-corners.borders-existent-2::before, .dotted-corners.borders-existent-2::after {
  height: calc(100% + 4px);
  top: -2px;
}

.dotted-corners.borders-existent-2::before {
  right: -2px;
}

.dotted-corners.borders-existent-2::after {
  left: -2px;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  line-height: 1;
  font-stretch: extra-expanded;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-stretch: extra-expanded;
}

h3 { 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-stretch: extra-expanded;
}

h4 { 
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-stretch: extra-expanded;
}

h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-stretch: extra-expanded;
}

h6 { 
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-stretch: extra-expanded;
}

.stretch-text {
  font-stretch: expanded;
}

.button.select {
  @apply bg-lighter text-white text-center flex items-center transition-all duration-75 ease-linear;
  height: 2.5rem;
  outline: none;
  transition: all 0.1s;
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(-30deg, #c31432, #4b305e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #141414 inset;
}

.button.select {
  position: relative;
}

.button.select:hover {
  @apply bg-dark bg-opacity-75;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(-30deg, #c31432, #4b305e);
}

.button.select:active, .button.select.opened {
  @apply bg-dark bg-opacity-40;
}

.select-hover-effect {
  @apply transition-all duration-300 ease-out;
  background-image: linear-gradient(-30deg, #c31432, #4b305e);
}

.button.select:hover > .select-hover-effect, .button.select.opened > .select-hover-effect {
  left: -6%;
}

.select-item.active {
  @apply border border-accent-1 bg-lighter bg-opacity-70;
}

body, html {
  overflow-x: hidden;
}

.navbar-item {
  position: relative;
  padding: 0 0.25rem;
}

.navbar-item span {
  mix-blend-mode: difference;
  color: white;
}

.navitem-bg, .navbar-item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  z-index: 15;
}

.navbar-item::before {
  content: "";
  left: 2px; bottom: -2px;
  @apply bg-gradient-to-r from-accent-1 to-accent-2;
}

.navbar-item.big::before {
  content: "";
  left: 6px; bottom: -6px;
  @apply bg-gradient-to-r from-accent-1 to-accent-2;
}

.navbar-item:hover > .navitem-bg, .navbar-item.active > .navitem-bg, .navbar-item:hover::before, .navbar-item.active::before {
  transform: scaleX(1);
  transform-origin: left;
}

@keyframes flicker-alt {
  0% { opacity: 0; }
  9% { opacity: 0; }
  10% { opacity: .5; }
  13% { opacity: 0; }
  20% { opacity: .5; }
  25% { opacity: 1; }
  26% { opacity: .5; }
  35% { opacity: 0; }
  36% { opacity: .5; }
  38% { opacity: 1; }
  50% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flicker {
  0% { opacity: 0; }
  9% { opacity: 0; }
  10% { opacity: .5; }
  13% { opacity: 0; }
  20% { opacity: .5; }
  25% { opacity: 1; }
  26% { opacity: .5; }
  35% { opacity: 0; }
  36% { opacity: .5; }
  38% { opacity: 1; }
  50% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

.button {
  @apply relative border-2 border-accent-1 text-white text-sm text-center w-44 flex flex-row items-center justify-center transition-all duration-75 ease-linear font-medium;
  height: 2.5rem;
  outline: none;
  font-stretch: expanded;
  z-index: 20;
}

.button *:not(.button-cover-up) {
  z-index: 20 !important;
}

.button.inverted {
  @apply border-white text-accent-1;
}

.button > .button-cover-up {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  z-index: 19;
  @apply bg-opacity-40 bg-accent-1 absolute top-0 left-0 w-full h-full;
}

.button.inverted {
  @apply border-white;
}

.button.inverted > .button-cover-up {
  @apply bg-opacity-[0.15] bg-white;
}

.button:hover > .button-cover-up {
  transform: scaleX(1);
  transform-origin: left;
}

.landing-logo {
  @apply drop-shadow-lg;
}

.preview-window, .aspect-16-to-9 {
  aspect-ratio: 16 / 9;
}

.mac-dot {
  aspect-ratio: 1 / 1;
}

.grid-bg, .skill-card, .about-card {
  background: linear-gradient(90deg, #070707 21px, transparent 1%) center, linear-gradient(#070707 21px, transparent 1%) center, #2b2b2b;
  background-position-x: center;
  background-position-y: center;
  background-size: 22px 22px;
}

.window-tab .progress-bar {
  @apply bg-gradient-to-r from-accent-1 to-accent-2 absolute -bottom-px w-[calc(100%+2px)] -left-px h-px transition-transform duration-[0s] ease-linear;
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0;
}

.window-tab.active .progress-bar {
  @apply transition-transform duration-[20s] ease-linear;
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-dropdown {
  @apply z-40 sm:hidden;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  padding: 0.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar-dropdown.active {
  animation: slide-in 0.4s ease-out forwards;
}

.navbar-dropdown.active.hiding {
  animation: slide-out 0.4s ease-in forwards;
}

@keyframes slide-in {
  0% {
    top: -100vh;
  }
  100% {
    top: 0rem;
  }
}

@keyframes slide-out {
  0% {
    top: 0rem;
  }
  100% {
    top: -120vw;
  }
}

.navbar-dropdown-link:not(.active) {
  font-variation-settings: "wght" 100;
  @apply transition-all duration-100 ease-linear;
}

.navbar-dropdown-link:not(.active):hover, .navbar-dropdown-link.active {
  font-variation-settings: "wght" 700;
}

.mac-dot {
  box-shadow: 0 0 0.2em currentColor;
}

.progress-bar.gradient {
  box-shadow:
    0 0 3px #5436ff,
    0 0 7px #cc00ff
}

.window-tab-image {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
}

.initial-reveal {
  @apply relative w-fit;
} 

.initial-reveal::before {
  content: "";
  @apply absolute w-full h-full left-0 top-px;
  transform: scaleX(1);
  background: #fff;
  z-index: 5;
  transform-origin: right;
} 

.initial-reveal::after {
  content: "";
  @apply absolute w-full h-full left-0 top-px;
  transform: scaleX(1);
  background: #dadada;
  z-index: 4;
  transform-origin: right;
} 

.initial-reveal.delay-step-0::before {
  animation: initial-reveal 0.3s ease-out 200ms forwards;
}

.initial-reveal.delay-step-0::after, .initial-reveal.delay-step-1::before {
  animation: initial-reveal 0.3s ease-out 300ms forwards;
}

.initial-reveal.delay-step-1::after, .initial-reveal.delay-step-2::before {
  animation: initial-reveal 0.3s ease-out 400ms forwards;
}

.initial-reveal.delay-step-2::after {
  animation: initial-reveal 0.3s ease-out 500ms forwards;
}

@keyframes initial-reveal {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.section-header .large-text::before, .section-header .sub-text::before {
  content: "";
  @apply absolute w-full h-full left-0 top-px;
  transform: scaleX(1);
  background: #fff;
  z-index: 5;
  transform-origin: right;
} 

.section-header .large-text::after, .section-header .sub-text::after {
  content: "";
  @apply absolute w-full h-full left-0 top-px;
  transform: scaleX(1);
  background: #dadada;
  z-index: 4;
  transform-origin: right;
} 

.section-header.active .large-text::before {
  animation: initial-reveal 0.3s ease-out 200ms forwards;
}

.section-header.active .large-text::after, .section-header.delay.active .large-text::before {
  animation: initial-reveal 0.3s ease-out 300ms forwards;
}

.section-header.active .sub-text::before {
  animation: initial-reveal 0.3s ease-out 350ms forwards;
}

.section-header.delay.active .large-text::after {
  animation: initial-reveal 0.3s ease-out 400ms forwards;
}

.section-header.active .sub-text::after {
  animation: initial-reveal 0.3s ease-out 450ms forwards;
}

.section-header.delay.active .sub-text::before {
  animation: initial-reveal 0.3s ease-out 550ms forwards;
}

.section-header.delay.active .sub-text::after {
  animation: initial-reveal 0.3s ease-out 650ms forwards;
}

.skill-card-underline {
  transform: scaleX(0);
  z-index: 5;
  transform-origin: left !important;
  @apply h-0.5 w-full;
  transition: all 0.2s ease-out;
}

.skill-card-underline.active {
  transform: scaleX(1);
  z-index: 5;
  transform-origin: left !important;
  @apply h-0.5 w-full;
}

.vscode-clone {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.activity-bar-icon-1::before {
  content: "\eaf0";
  font-size: 24px;
}

.line-indicator {
  @apply flex flex-row items-center justify-center text-gray-400 text-sm font-light bg-light;
}

a.href {
  @apply text-purple-400 transition-none duration-75 ease-linear font-medium;
}

a.href:hover {
  @apply text-href-color underline;
}

a.href:active {
  @apply text-gray-600;
}

.portfolio-card-cover {
  bottom: -100%;
}

.portfolio-card-cover.active {
  bottom: 0.5rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.modal-card {
  @apply transition-all duration-300 ease-linear hidden;
}

.modal-card-content-wrapper {
  overflow-y: overlay;
}

.modal-card-content-wrapper::-webkit-scrollbar {
  font-size: 18px;
  width: 0.2rem;
  margin-right: 1rem;
  padding-right: 1rem;
  @apply bg-transparent rounded relative;
}

.modal-card-content-wrapper::-webkit-scrollbar-thumb {
  margin: 10px;
  width: 10px;
  height: 10px;
  position: relative;
  right: 6px;
  @apply bg-scrollbar-thumb-bg rounded;
}

.modal-card-content-wrapper::-webkit-scrollbar-thumb:hover {
  @apply bg-scrollbar-thumb-hover;
}

#modal-card.animate {
  @apply transition-all duration-300 ease-linear block;
  height: 80% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate3d(-50%, -50%, 0) !important;
}

@media (max-width: 640px) {
  #modal-card.animate {
    width: calc((100% / 1) - 2rem) !important;
  }
}

@media (min-width: 640px) {
  #modal-card.animate {
    width: calc(100% / 1.25) !important;
  }
}

@media (min-width: 768px) {
  #modal-card.animate {
    width: calc(100% / 1.5) !important;
  }
}

@media (min-width: 1024px) {
  #modal-card.animate {
    width: calc(100% / 2) !important;
  }
}

@media (min-width: 1536px) {
  #modal-card.animate {
    width: calc(100% / 2.75) !important;
  }
}

.modal-card.hiding {
  @apply block;
}

.animate-glass {
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  @apply transition-all duration-200 ease-linear;
}

.portfolio-card:hover > *:not(.portfolio-card-hovertext, .portfolio-tags), .modal-main-image {
  filter: blur(1px);
}

.portfolio-card:hover > .portfolio-card-hovertext, .portfolio-card.active > .portfolio-card-hovertext {
  opacity: 1;
}

.portfolio-card:hover > .portfolio-card-hovertext > *, .portfolio-card.active > .portfolio-card-hovertext > * {
  transform: scale(1);
}

.portfolio-card-hovertext {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  opacity: 0;
  word-wrap: normal;
}

.portfolio-card-hovertext > * {
  transition: all 0.2s ease;
  transform: scale(0.9);
}

.git-link {
  opacity: 0;
  transition: all 0.2s ease;
}

.modal-card.animate .git-link {
  opacity: 1 !important;
}

.modal-tags {
  opacity: 0;
  transition: all 0.2s ease;
}

.modal-card.animate .modal-tags {
  opacity: 1 !important;
}

.modal-card .text-content {
  opacity: 0;
  transition: all 0.15s ease;
}

.modal-card .text-content.shown {
  opacity: 1 !important;
}

.modal-card .text-content.hide {
  display: none !important;
}

.modal-card .text-content p {
  @apply mb-1;
}

.modal-close-icon {
  opacity: 0;
  transition: all 0.2s ease;
}

.modal-card.animate .modal-close-icon {
  opacity: 1 !important;
}

.webpage-showcase-img {
  transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
  transform-style: preserve-3d;
  transition: all 0.2s ease;
  @apply shadow-accent-1 shadow-md;
  box-shadow: 10px 10px 15px 1px rgba(80, 80, 80, 0.4);
}

.webpage-showcase-img.valtracker.mobile {
  transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translate(3rem, 5rem);
}

.webpage-showcase-img.valographs.mobile {
  transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translate(4rem, 7rem);
}

.portfolio-tag:first-child {
  @apply ml-0;
}

.contact-list li {
  @apply mb-4 text-xl font-medium border border-transparent w-fit rounded-lg hover:border-lighter bg-black bg-opacity-0 hover:bg-opacity-25 transition-all duration-100 ease-linear;
}

.contact-list li a {
  @apply flex flex-row items-center p-2;
}

.contact-form * {
  @apply transition-all duration-75 ease-linear;
}

.contact-form input {
  @apply appearance-none block w-full !bg-input-bg text-white border border-input-border rounded py-3 px-4 mb-3 leading-tight outline-none focus:bg-input-bg-light;
}

.contact-form input:-webkit-autofill, .contact-form textarea:-webkit-autofill, #grid-email:-webkit-autofill {
  @apply !bg-input-bg;
}

.contact-form textarea {
  @apply resize-none appearance-none block w-full bg-input-bg text-white border border-input-border rounded py-3 px-4 mb-3 leading-tight outline-none focus:bg-input-bg-light h-48;
}

.contact-form label {
  @apply block uppercase tracking-wide text-lightest text-xs font-bold mb-2;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(23, 23, 23) inset;
  -webkit-text-fill-color: #959ba5;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-form {
  @apply transition-all duration-150 ease-linear overflow-hidden relative;
}

.contact-form.loading {
  @apply h-16;
}

.contact-form.loading *:not(.contact-form-cover) {
  @apply opacity-0 transition-all duration-75 ease-linear;
}

.contact-form .contact-form-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-out;
  z-index: 15;
  @apply flex items-center justify-center;
  transition-delay: 300ms;
}

.contact-form.loading .contact-form-cover {
  transform: scaleX(1);
  transform-origin: left;
}

.loading-anim-text {
  color: #000;
  opacity: 0;
  @apply transition-all duration-75 ease-out w-full font-bold text-lg md:text-2xl;
  font-stretch: extra-expanded;
}

.loading-anim-text.animated {
  animation: flicker 2s infinite;
  animation-delay: 0.4s;
  opacity: 1;
}

.loading-anim-text.stop-anim {
  color: #000;
  opacity: 1;
  animation: flicker-alt 1s forwards;
  animation-delay: 1s;
}

.skill-card .lang-icon path {
  fill: #ccc;
  @apply transition-all duration-100 ease-linear;
}

.skill-card.active .lang-icon path {
  fill: currentColor;
}