@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --site-accent: #0e1016;
    --tile-color: #353841;
    --tile-color-light: #50535e;
    --nav-clr: rgb(53, 100, 255);
}

* {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--site-accent);
}

/*Custom Scrollbar*/

body::-webkit-scrollbar {
    font-size: 25px;
    width: 0.4rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194);
}

ul {
    list-style-type: none;
}

/*Links*/

a:link {color:rgb(255, 255, 255)}
a:hover {color:rgb(255, 255, 255)}
a:active {color:rgb(255, 255, 255)}
a:visited {color:rgb(255, 255, 255)}

#toggle {
    position: fixed;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#toggle::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

#toggle::after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.header-relative-div {
    position: fixed;
    left: 96vw;
    top: 40px;
    width: 80%;
    transition: 0.4s;
    z-index: 1000;
}

.navslide {
    position: fixed;
    width: 400px;
    height: 100vh;
    left: 100vw;
    top: 0px;
    background-color: var(--nav-clr);
    z-index: 999 !important;
    transition: 0.4s;
}

.navslide ul li {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;
}

.header-relative-div.active ~ .wrapper {
    transform: translateX(-400px);
}

.header-relative-div.active + #toggle {
    transform: translateX(-400px);
}

.header-relative-div.active + #sec {
    transform: translateX(-400px);
}

.header-relative-div.active ~ .navslide {
    transform: translateX(-400px);
}

.header-relative-div.active {
    transform: translateX(-400px);
}

.header-relative-div.active #toggle::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header-relative-div.active #toggle::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.wrapper {
    margin: 0 auto 0 250px;
    margin-top: 10rem;
    width: 100%;
    height: auto;
    transition: 0.4s;
    z-index: 900;
}

.color {
    color: var(--nav-clr);
    font-weight: 600;
    font-size: 50px;
}

#pagepart {
    margin-bottom: 65vh;
}

.blocks-seperator-img {
    position: relative;
    left: -250px;
    top: -500px;
}

.landingpage {
    display: flex;
}

#avatar {
    margin-left: auto;
    position: relative;
    left: -550px;
    top: -100px;
    width: 600px;
    height: auto;
    -webkit-filter: drop-shadow(0px 10px 15px #000);
    filter: drop-shadow(0px 10px 15px #000);
}

.landingpage-flexwrapper {
    width: 100%;
}

.second-header {
    font-size: 50px;
    font-weight: 600;
}

li {
    margin-bottom: 0.5rem;
}


/*
<header>
                    <a href="#" class="logo">Logo</a>
                    <div id="toggle" onclick="toggle()"></div>
                </header>
*/

/*SCSS*/

.glitch {
    position: relative;
    color: white;
    font-size: 1em;
    letter-spacing: 0.1em;
   /* Animation provies a slight random skew. Check bottom of doc for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
    font-weight: 100;
    font-size: 70px;
}

.smol {
    font-size: 25px;
}
.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 1px;
    text-shadow: -1px 0 #ff00c1;
   /* Creates an initial clip for our glitch. This works in a typical top,right,bottom,left fashion and creates a mask to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
   /* Runs our glitch-anim defined below to run in a 5s loop, infinitely, with an alternating animation to keep things fresh. */
    animation: glitch-anim 10s infinite linear alternate-reverse;
}
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -1px;
    text-shadow: -1px 0 #00fff9, 1px 1px #ff00c1;
    animation: glitch-anim2 1.8s infinite linear alternate-reverse;
}
/* Creates an animation with 20 steaps. For each step, it calculates a percentage for the specific step. It then generates a random clip box to be used for the random glitch effect. Also adds a very subtle skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
    0% {
        clip: rect(85px, 9999px, 36px, 0);
        transform: skew(0.54deg);
   }
    5% {
        clip: rect(51px, 9999px, 6px, 0);
        transform: skew(0.16deg);
   }
    10% {
        clip: rect(4px, 9999px, 1px, 0);
        transform: skew(0.47deg);
   }
    15% {
        clip: rect(16px, 9999px, 46px, 0);
        transform: skew(0.75deg);
   }
    20% {
        clip: rect(26px, 9999px, 52px, 0);
        transform: skew(1deg);
   }
    25% {
        clip: rect(81px, 9999px, 65px, 0);
        transform: skew(0.24deg);
   }
    30% {
        clip: rect(5px, 9999px, 21px, 0);
        transform: skew(0.16deg);
   }
    35% {
        clip: rect(62px, 9999px, 97px, 0);
        transform: skew(0.67deg);
   }
    40% {
        clip: rect(26px, 9999px, 96px, 0);
        transform: skew(0.39deg);
   }
    45% {
        clip: rect(46px, 9999px, 60px, 0);
        transform: skew(0.62deg);
   }
    50% {
        clip: rect(5px, 9999px, 57px, 0);
        transform: skew(0.93deg);
   }
    55% {
        clip: rect(41px, 9999px, 2px, 0);
        transform: skew(0.21deg);
   }
    60% {
        clip: rect(83px, 9999px, 75px, 0);
        transform: skew(0.89deg);
   }
    65% {
        clip: rect(54px, 9999px, 31px, 0);
        transform: skew(0.8deg);
   }
    70% {
        clip: rect(7px, 9999px, 61px, 0);
        transform: skew(0.48deg);
   }
    75% {
        clip: rect(41px, 9999px, 18px, 0);
        transform: skew(0.45deg);
   }
    80% {
        clip: rect(59px, 9999px, 64px, 0);
        transform: skew(0.27deg);
   }
    85% {
        clip: rect(11px, 9999px, 61px, 0);
        transform: skew(0.35deg);
   }
    90% {
        clip: rect(21px, 9999px, 96px, 0);
        transform: skew(0.37deg);
   }
    95% {
        clip: rect(30px, 9999px, 3px, 0);
        transform: skew(0.16deg);
   }
    100% {
        clip: rect(16px, 9999px, 76px, 0);
        transform: skew(0.74deg);
   }
}
@keyframes glitch-anim2 {
    0% {
        clip: rect(39px, 9999px, 60px, 0);
        transform: skew(0.28deg);
   }
    5% {
        clip: rect(50px, 9999px, 74px, 0);
        transform: skew(0.77deg);
   }
    10% {
        clip: rect(81px, 9999px, 16px, 0);
        transform: skew(0.45deg);
   }
    15% {
        clip: rect(79px, 9999px, 42px, 0);
        transform: skew(0.59deg);
   }
    20% {
        clip: rect(2px, 9999px, 81px, 0);
        transform: skew(0.88deg);
   }
    25% {
        clip: rect(19px, 9999px, 83px, 0);
        transform: skew(0.64deg);
   }
    30% {
        clip: rect(82px, 9999px, 69px, 0);
        transform: skew(0.44deg);
   }
    35% {
        clip: rect(35px, 9999px, 65px, 0);
        transform: skew(0.32deg);
   }
    40% {
        clip: rect(19px, 9999px, 91px, 0);
        transform: skew(0.45deg);
   }
    45% {
        clip: rect(91px, 9999px, 10px, 0);
        transform: skew(0.12deg);
   }
    50% {
        clip: rect(51px, 9999px, 64px, 0);
        transform: skew(0.75deg);
   }
    55% {
        clip: rect(25px, 9999px, 6px, 0);
        transform: skew(0.26deg);
   }
    60% {
        clip: rect(7px, 9999px, 76px, 0);
        transform: skew(0.38deg);
   }
    65% {
        clip: rect(52px, 9999px, 58px, 0);
        transform: skew(0.41deg);
   }
    70% {
        clip: rect(45px, 9999px, 63px, 0);
        transform: skew(0.12deg);
   }
    75% {
        clip: rect(6px, 9999px, 44px, 0);
        transform: skew(0.15deg);
   }
    80% {
        clip: rect(25px, 9999px, 34px, 0);
        transform: skew(0.08deg);
   }
    85% {
        clip: rect(55px, 9999px, 36px, 0);
        transform: skew(0.43deg);
   }
    90% {
        clip: rect(9px, 9999px, 73px, 0);
        transform: skew(0.73deg);
   }
    95% {
        clip: rect(82px, 9999px, 57px, 0);
        transform: skew(0.76deg);
   }
    100% {
        clip: rect(47px, 9999px, 52px, 0);
        transform: skew(0.93deg);
   }
}
@keyframes glitch-skew {
    0% {
        transform: skew(-3deg);
   }
    10% {
        transform: skew(-3deg);
   }
    20% {
        transform: skew(1deg);
   }
    30% {
        transform: skew(-4deg);
   }
    40% {
        transform: skew(0deg);
   }
    50% {
        transform: skew(2deg);
   }
    60% {
        transform: skew(2deg);
   }
    70% {
        transform: skew(-1deg);
   }
    80% {
        transform: skew(-3deg);
   }
    90% {
        transform: skew(3deg);
   }
    100% {
        transform: skew(3deg);
   }
}

@media screen and (max-width: 1570px) {
    #avatar {
        display: none;
    }
    .header-relative-div {
        left: 94vw;
    }
    .wrapper {
        margin-left: 2rem;
        width: 100%;
        width: 90%;
    }
    .landingpage-flexwrapper {
        width: 100%;
    }
    #pagepart {
        margin-bottom: 100%;
    }
    .skillspage {
        position: relative;
        top: -200px;
    }
    .aboutpage#pagepart {
        margin-bottom: 66%;
    }
    .langpage#pagepart {
        margin-bottom: 66%;
    }
    .toolpage#pagepart {
        margin-bottom: 66%;
    }
    .projectpage#pagepart {
        margin-bottom: 68%;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        margin-left: 2rem;
        width: 100%;
        margin-top: 4rem;
        width: 90%;
    }
    .landingpage#pagepart {
        margin-bottom: 130%;
    }
    .aboutpage#pagepart {
        margin-bottom: 84%;
    }
    .langpage#pagepart {
        margin-bottom: 84%;
    }
    .toolpage#pagepart {
        margin-bottom: 86%;
    }
    .projectpage#pagepart {
        margin-bottom: 86%;
    }
}

@media screen and (max-width: 800px) {
    .header-relative-div {
        left: 92vw;
        top: 20px;
    }
    .second-header {
        font-weight: 600;
        font-size: 30px;
    }
    .landingpage-flexwrapper h1 {
        font-size: 50px;
    }
    #pagepart {
        margin-bottom: 84vh;
    }
}

@media screen and (max-width: 700px) {
    .second-header {
        font-weight: 600;
        font-size: 25px;
    }
    .landingpage-flexwrapper h1 {
        font-size: 44px;
    }
}

@media screen and (max-width: 600px) {
    .header-relative-div {
        left: 90vw;
        top: 20px;
    }
    .wrapper {
        margin-top: 1.5rem;
        margin-left: 1rem;
        width: 70%;
    }
    .landingpage#pagepart {
        margin-bottom: 190%;
    }
    .aboutpage#pagepart {
        margin-bottom: 125%;
    }
    .langpage#pagepart {
        margin-bottom: 140%;
    }
    .toolpage#pagepart {
        margin-bottom: 145%;
    }
    .projectpage#pagepart {
        margin-bottom: 130%;
    }
}

@media screen and (max-width: 400px) {
    .header-relative-div {
        left: 89vw;
        top: 20px;
    }
    .landingpage#pagepart {
        margin-bottom: 240%;
    }
    .aboutpage#pagepart {
        margin-bottom: 160%;
    }
    .langpage#pagepart {
        margin-bottom: 220%;
    }
    .toolpage#pagepart {
        margin-bottom: 230%;
    }
    .projectpage#pagepart {
        margin-bottom: 200%;
    }
}

@media screen and (max-width: 460px) {
    .header-relative-div.active ~ .wrapper {
        transform: translateX(-300px);
    }
    .header-relative-div.active + #toggle {
        transform: translateX(0px);
    }
    .header-relative-div.active + #sec {
        transform: translateX(0px);
    }
    .header-relative-div.active ~ .navslide {
        transform: translateX(-300px);
    }
    .header-relative-div.active {
        transform: translateX(-300px);
    }
    .navslide {
        position: fixed;
        width: 300px;
        height: 100vh;
        left: 100vw;
        top: 0px;
        background-color: var(--nav-clr);
        z-index: 999 !important;
        transition: 0.4s;
    }
}

@media screen and (max-width: 360px) {
    .header-relative-div.active ~ .wrapper {
        transform: translateX(-200px);
    }
    .header-relative-div.active + #toggle {
        transform: translateX(0px);
    }
    .header-relative-div.active + #sec {
        transform: translateX(0px);
    }
    .header-relative-div.active ~ .navslide {
        transform: translateX(-200px);
    }
    .header-relative-div.active {
        transform: translateX(-200px);
    }
    .navslide {
        position: fixed;
        width: 200px;
        height: 100vh;
        left: 100vw;
        top: 0px;
        background-color: var(--nav-clr);
        z-index: 999 !important;
        transition: 0.4s;
    }
}