/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --site-accent: #0e1016;
    --tile-color: #353841;
    --tile-color-light: #50535e;
    --nav-clr: rgb(53, 100, 255);
    --discord-clr: #7289DA;
    --html-clr: #e79261;
    --css-clr: #61abe7;
    --cpp-clr: #384bf7;
    --cs-clr: #d463f0;
    --js-clr: #e7da61;
    /*var(--cpp-clr);*/
}

* {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

body {
    padding: 0;
    margin: 0;
    margin-top: 110vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--site-accent);
}

/*Custom Scrollbar*/

body::-webkit-scrollbar {
    font-size: 25px;
    width: 0.4rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194);
}

ul {
    list-style-type: none;
}

/*Links*/

a:link {color:rgb(255, 255, 255)}
a:hover {color:rgb(255, 255, 255)}
a:active {color:rgb(255, 255, 255)}
a:visited {color:rgb(255, 255, 255)}

#toggle {
    position: fixed;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#toggle::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

#toggle::after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.header-relative-div {
    position: fixed;
    left: 96vw;
    top: 40px;
    width: 80%;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    z-index: 1000;
}

.navslide {
    position: fixed;
    width: 400px;
    height: 100vh;
    left: 100vw;
    top: 0px;
    background-color: var(--nav-clr);
    z-index: 999 !important;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
}

.navslide ul li {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
}

.header-relative-div.active ~ .wrapper {
    -webkit-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
            transform: translateX(-400px);
}

.header-relative-div.active + #toggle {
    -webkit-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
            transform: translateX(-400px);
}

.header-relative-div.active + #sec {
    -webkit-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
            transform: translateX(-400px);
}

.header-relative-div.active ~ .navslide {
    -webkit-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
            transform: translateX(-400px);
}

.header-relative-div.active {
    -webkit-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
            transform: translateX(-400px);
}

.header-relative-div.active #toggle::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}

.header-relative-div.active #toggle::after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
}

.wrapper {
    margin: 0 auto 0 15%;
    margin-top: 10rem;
    width: 55%;
    height: auto;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    z-index: 900;
    opacity: 1;
}

.wrapper.home {
    margin: 0 auto 0 15%;
    margin-top: 10rem;
    width: 100%;
    height: auto;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    z-index: 900;
    opacity: 1;
}

.color {
    color: var(--nav-clr);
    font-weight: 600;
    font-size: 50px;
}

#pagepart {
    height: 100%;
    margin-bottom: 120vh;
}

.landingpage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#avatar {
    margin-left: auto;
    position: relative;
    left: -550px;
    top: -100px;
    width: 600px;
    height: auto;
    -webkit-filter: drop-shadow(0px 10px 15px #000);
    filter: drop-shadow(0px 10px 15px #000);
}

.landingpage-flexwrapper {
    width: 100%;
}

.second-header {
    font-size: 50px;
    font-weight: 600;
}

li {
    margin-bottom: 0.5rem;
}

.black > span {
    color: #000;
}

.navslide-li {
    width: fit-content;
}

.navslide-li {
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
}

.navslide-li.black:hover > span {
    color: #000000;
}
  
.navslide-li:hover > span {
    color: #202020;
}

.navslide-li span {
    transition: all 300ms ease-in;
}

.fab.fa-discord {
    color: var(--discord-clr); 
    margin-left: 0.2rem; 
    margin-right: 0.2rem;
    transition: all 300ms ease-in;
    top: 2px;
}

.fab.fa-discord:hover {
    color: var(--discord-clr); 
    margin-left: 0.2rem; 
    margin-right: 0.2rem;
    text-shadow: 0 0 4px var(--discord-clr);
}

#about_span {
    transition: all 300ms ease-in;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}

#about_span:hover {
    cursor: pointer;
}

.discord_js::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0.1rem;
    width: 100%;
    height: 1px;
    background: var(--discord-clr);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.discord_js:hover::after {
    transform: scaleX(1.01);
    transform-origin: left;
}

.about_html::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0.1rem;
    width: 100%;
    height: 1px;
    background: var(--html-clr);;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.about_html:hover::after {
    transform: scaleX(1.01);
    transform-origin: left;
}

.about_css::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0.1rem;
    width: 100%;
    height: 1px;
    background: var(--css-clr);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.about_css:hover::after {
    transform: scaleX(1.01);
    transform-origin: left;
}

.about_cpp::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0.1rem;
    width: 100%;
    height: 1px;
    background: var(--cpp-clr);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.about_cpp:hover::after {
    transform: scaleX(1.01);
    transform-origin: left;
}

.about_cs::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0.1rem;
    width: 100%;
    height: 1px;
    background: var(--cs-clr);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.about_cs:hover::after {
    transform: scaleX(1.01);
    transform-origin: left;
}

.about_js::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0.1rem;
    width: 100%;
    height: 1px;
    background: var(--js-clr);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.about_js:hover::after {
    transform: scaleX(1.01);
    transform-origin: left;
}

.discord_js:hover {
    color: var(--discord-clr); 
    text-shadow: 0 0 4px var(--discord-clr);
}

.about_html:hover {
    color: var(--html-clr);
    text-shadow: 0 0 4px var(--html-clr);
}

.about_css:hover {
    color: var(--css-clr);
    text-shadow: 0 0 4px var(--css-clr);
}

.about_cpp:hover {
    color: var(--cpp-clr);
    text-shadow: 0 0 7px var(--cpp-clr);
}

.about_cs:hover {
    color: var(--cs-clr);
    text-shadow: 0 0 7px var(--cs-clr);
}

.about_js:hover {
    color: var(--js-clr);
    text-shadow: 0 0 4px var(--js-clr);
}

.navslide-li {
    position: relative;
    display: block;
    padding: 4px 0;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.navslide-li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #202020;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.navslide-li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navslide-li.black:hover::after {
    transform: scaleX(0);
    transform-origin: left;
}

.discord_js::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0.1rem;
    width: 100%;
    height: 1px;
    background: var(--discord-clr);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.discord_js:hover::after {
    transform: scaleX(1.01);
    transform-origin: left;
}

.no-clr {
    position: relative;
    width: fit-content;
    padding: 4px 0;
    color: #ecf0f1;
    text-decoration: none;
    transition: 0.5s;
}

.no-clr::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0rem;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.no-clr:hover::after {
    transform: scaleX(1.01);
    transform-origin: left;
}

.cloudflare-href {
    position: relative;
    width: fit-content;
    display: block;
    padding: 4px 0;
    color: #ecf0f1;
    text-decoration: none;
    transition: 0.5s;
}

.cloudflare-href::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0rem;
    width: 100%;
    height: 1px;
    background: var(--html-clr);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.cloudflare-href:hover::after {
    transform: scaleX(1.01);
    transform-origin: left;
}

/*SCSS*/

.glitch {
    position: relative;
    color: white;
    font-size: 1em;
    letter-spacing: 0.1em;
   /* Animation provies a slight random skew. Check bottom of doc for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
    font-weight: 100;
    font-size: 70px;
}

.smol {
    font-size: 25px;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 1px;
    text-shadow: -1px 0 #ff00c1;
   /* Creates an initial clip for our glitch. This works in a typical top,right,bottom,left fashion and creates a mask to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
   /* Runs our glitch-anim defined below to run in a 5s loop, infinitely, with an alternating animation to keep things fresh. */
    animation: glitch-anim 10s infinite linear alternate-reverse;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -1px;
    text-shadow: -1px 0 #00fff9, 1px 1px #ff00c1;
    animation: glitch-anim2 1.8s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steps. For each step, it calculates a percentage for the specific step. It then generates a random clip box to be used for the random glitch effect. Also adds a very subtle skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
    0% {
        clip: rect(85px, 9999px, 36px, 0);
        -webkit-transform: skew(0.54deg);
                transform: skew(0.54deg);
   }
    5% {
        clip: rect(51px, 9999px, 6px, 0);
        -webkit-transform: skew(0.16deg);
                transform: skew(0.16deg);
   }
    10% {
        clip: rect(4px, 9999px, 1px, 0);
        -webkit-transform: skew(0.47deg);
                transform: skew(0.47deg);
   }
    15% {
        clip: rect(16px, 9999px, 46px, 0);
        -webkit-transform: skew(0.75deg);
                transform: skew(0.75deg);
   }
    20% {
        clip: rect(26px, 9999px, 52px, 0);
        -webkit-transform: skew(1deg);
                transform: skew(1deg);
   }
    25% {
        clip: rect(81px, 9999px, 65px, 0);
        -webkit-transform: skew(0.24deg);
                transform: skew(0.24deg);
   }
    30% {
        clip: rect(5px, 9999px, 21px, 0);
        -webkit-transform: skew(0.16deg);
                transform: skew(0.16deg);
   }
    35% {
        clip: rect(62px, 9999px, 97px, 0);
        -webkit-transform: skew(0.67deg);
                transform: skew(0.67deg);
   }
    40% {
        clip: rect(26px, 9999px, 96px, 0);
        -webkit-transform: skew(0.39deg);
                transform: skew(0.39deg);
   }
    45% {
        clip: rect(46px, 9999px, 60px, 0);
        -webkit-transform: skew(0.62deg);
                transform: skew(0.62deg);
   }
    50% {
        clip: rect(5px, 9999px, 57px, 0);
        -webkit-transform: skew(0.93deg);
                transform: skew(0.93deg);
   }
    55% {
        clip: rect(41px, 9999px, 2px, 0);
        -webkit-transform: skew(0.21deg);
                transform: skew(0.21deg);
   }
    60% {
        clip: rect(83px, 9999px, 75px, 0);
        -webkit-transform: skew(0.89deg);
                transform: skew(0.89deg);
   }
    65% {
        clip: rect(54px, 9999px, 31px, 0);
        -webkit-transform: skew(0.8deg);
                transform: skew(0.8deg);
   }
    70% {
        clip: rect(7px, 9999px, 61px, 0);
        -webkit-transform: skew(0.48deg);
                transform: skew(0.48deg);
   }
    75% {
        clip: rect(41px, 9999px, 18px, 0);
        -webkit-transform: skew(0.45deg);
                transform: skew(0.45deg);
   }
    80% {
        clip: rect(59px, 9999px, 64px, 0);
        -webkit-transform: skew(0.27deg);
                transform: skew(0.27deg);
   }
    85% {
        clip: rect(11px, 9999px, 61px, 0);
        -webkit-transform: skew(0.35deg);
                transform: skew(0.35deg);
   }
    90% {
        clip: rect(21px, 9999px, 96px, 0);
        -webkit-transform: skew(0.37deg);
                transform: skew(0.37deg);
   }
    95% {
        clip: rect(30px, 9999px, 3px, 0);
        -webkit-transform: skew(0.16deg);
                transform: skew(0.16deg);
   }
    100% {
        clip: rect(16px, 9999px, 76px, 0);
        -webkit-transform: skew(0.74deg);
                transform: skew(0.74deg);
   }
}
@keyframes glitch-anim {
    0% {
        clip: rect(85px, 9999px, 36px, 0);
        -webkit-transform: skew(0.54deg);
                transform: skew(0.54deg);
   }
    5% {
        clip: rect(51px, 9999px, 6px, 0);
        -webkit-transform: skew(0.16deg);
                transform: skew(0.16deg);
   }
    10% {
        clip: rect(4px, 9999px, 1px, 0);
        -webkit-transform: skew(0.47deg);
                transform: skew(0.47deg);
   }
    15% {
        clip: rect(16px, 9999px, 46px, 0);
        -webkit-transform: skew(0.75deg);
                transform: skew(0.75deg);
   }
    20% {
        clip: rect(26px, 9999px, 52px, 0);
        -webkit-transform: skew(1deg);
                transform: skew(1deg);
   }
    25% {
        clip: rect(81px, 9999px, 65px, 0);
        -webkit-transform: skew(0.24deg);
                transform: skew(0.24deg);
   }
    30% {
        clip: rect(5px, 9999px, 21px, 0);
        -webkit-transform: skew(0.16deg);
                transform: skew(0.16deg);
   }
    35% {
        clip: rect(62px, 9999px, 97px, 0);
        -webkit-transform: skew(0.67deg);
                transform: skew(0.67deg);
   }
    40% {
        clip: rect(26px, 9999px, 96px, 0);
        -webkit-transform: skew(0.39deg);
                transform: skew(0.39deg);
   }
    45% {
        clip: rect(46px, 9999px, 60px, 0);
        -webkit-transform: skew(0.62deg);
                transform: skew(0.62deg);
   }
    50% {
        clip: rect(5px, 9999px, 57px, 0);
        -webkit-transform: skew(0.93deg);
                transform: skew(0.93deg);
   }
    55% {
        clip: rect(41px, 9999px, 2px, 0);
        -webkit-transform: skew(0.21deg);
                transform: skew(0.21deg);
   }
    60% {
        clip: rect(83px, 9999px, 75px, 0);
        -webkit-transform: skew(0.89deg);
                transform: skew(0.89deg);
   }
    65% {
        clip: rect(54px, 9999px, 31px, 0);
        -webkit-transform: skew(0.8deg);
                transform: skew(0.8deg);
   }
    70% {
        clip: rect(7px, 9999px, 61px, 0);
        -webkit-transform: skew(0.48deg);
                transform: skew(0.48deg);
   }
    75% {
        clip: rect(41px, 9999px, 18px, 0);
        -webkit-transform: skew(0.45deg);
                transform: skew(0.45deg);
   }
    80% {
        clip: rect(59px, 9999px, 64px, 0);
        -webkit-transform: skew(0.27deg);
                transform: skew(0.27deg);
   }
    85% {
        clip: rect(11px, 9999px, 61px, 0);
        -webkit-transform: skew(0.35deg);
                transform: skew(0.35deg);
   }
    90% {
        clip: rect(21px, 9999px, 96px, 0);
        -webkit-transform: skew(0.37deg);
                transform: skew(0.37deg);
   }
    95% {
        clip: rect(30px, 9999px, 3px, 0);
        -webkit-transform: skew(0.16deg);
                transform: skew(0.16deg);
   }
    100% {
        clip: rect(16px, 9999px, 76px, 0);
        -webkit-transform: skew(0.74deg);
                transform: skew(0.74deg);
   }
}
@-webkit-keyframes glitch-anim2 {
    0% {
        clip: rect(39px, 9999px, 60px, 0);
        -webkit-transform: skew(0.28deg);
                transform: skew(0.28deg);
   }
    5% {
        clip: rect(50px, 9999px, 74px, 0);
        -webkit-transform: skew(0.77deg);
                transform: skew(0.77deg);
   }
    10% {
        clip: rect(81px, 9999px, 16px, 0);
        -webkit-transform: skew(0.45deg);
                transform: skew(0.45deg);
   }
    15% {
        clip: rect(79px, 9999px, 42px, 0);
        -webkit-transform: skew(0.59deg);
                transform: skew(0.59deg);
   }
    20% {
        clip: rect(2px, 9999px, 81px, 0);
        -webkit-transform: skew(0.88deg);
                transform: skew(0.88deg);
   }
    25% {
        clip: rect(19px, 9999px, 83px, 0);
        -webkit-transform: skew(0.64deg);
                transform: skew(0.64deg);
   }
    30% {
        clip: rect(82px, 9999px, 69px, 0);
        -webkit-transform: skew(0.44deg);
                transform: skew(0.44deg);
   }
    35% {
        clip: rect(35px, 9999px, 65px, 0);
        -webkit-transform: skew(0.32deg);
                transform: skew(0.32deg);
   }
    40% {
        clip: rect(19px, 9999px, 91px, 0);
        -webkit-transform: skew(0.45deg);
                transform: skew(0.45deg);
   }
    45% {
        clip: rect(91px, 9999px, 10px, 0);
        -webkit-transform: skew(0.12deg);
                transform: skew(0.12deg);
   }
    50% {
        clip: rect(51px, 9999px, 64px, 0);
        -webkit-transform: skew(0.75deg);
                transform: skew(0.75deg);
   }
    55% {
        clip: rect(25px, 9999px, 6px, 0);
        -webkit-transform: skew(0.26deg);
                transform: skew(0.26deg);
   }
    60% {
        clip: rect(7px, 9999px, 76px, 0);
        -webkit-transform: skew(0.38deg);
                transform: skew(0.38deg);
   }
    65% {
        clip: rect(52px, 9999px, 58px, 0);
        -webkit-transform: skew(0.41deg);
                transform: skew(0.41deg);
   }
    70% {
        clip: rect(45px, 9999px, 63px, 0);
        -webkit-transform: skew(0.12deg);
                transform: skew(0.12deg);
   }
    75% {
        clip: rect(6px, 9999px, 44px, 0);
        -webkit-transform: skew(0.15deg);
                transform: skew(0.15deg);
   }
    80% {
        clip: rect(25px, 9999px, 34px, 0);
        -webkit-transform: skew(0.08deg);
                transform: skew(0.08deg);
   }
    85% {
        clip: rect(55px, 9999px, 36px, 0);
        -webkit-transform: skew(0.43deg);
                transform: skew(0.43deg);
   }
    90% {
        clip: rect(9px, 9999px, 73px, 0);
        -webkit-transform: skew(0.73deg);
                transform: skew(0.73deg);
   }
    95% {
        clip: rect(82px, 9999px, 57px, 0);
        -webkit-transform: skew(0.76deg);
                transform: skew(0.76deg);
   }
    100% {
        clip: rect(47px, 9999px, 52px, 0);
        -webkit-transform: skew(0.93deg);
                transform: skew(0.93deg);
   }
}
@keyframes glitch-anim2 {
    0% {
        clip: rect(39px, 9999px, 60px, 0);
        -webkit-transform: skew(0.28deg);
                transform: skew(0.28deg);
   }
    5% {
        clip: rect(50px, 9999px, 74px, 0);
        -webkit-transform: skew(0.77deg);
                transform: skew(0.77deg);
   }
    10% {
        clip: rect(81px, 9999px, 16px, 0);
        -webkit-transform: skew(0.45deg);
                transform: skew(0.45deg);
   }
    15% {
        clip: rect(79px, 9999px, 42px, 0);
        -webkit-transform: skew(0.59deg);
                transform: skew(0.59deg);
   }
    20% {
        clip: rect(2px, 9999px, 81px, 0);
        -webkit-transform: skew(0.88deg);
                transform: skew(0.88deg);
   }
    25% {
        clip: rect(19px, 9999px, 83px, 0);
        -webkit-transform: skew(0.64deg);
                transform: skew(0.64deg);
   }
    30% {
        clip: rect(82px, 9999px, 69px, 0);
        -webkit-transform: skew(0.44deg);
                transform: skew(0.44deg);
   }
    35% {
        clip: rect(35px, 9999px, 65px, 0);
        -webkit-transform: skew(0.32deg);
                transform: skew(0.32deg);
   }
    40% {
        clip: rect(19px, 9999px, 91px, 0);
        -webkit-transform: skew(0.45deg);
                transform: skew(0.45deg);
   }
    45% {
        clip: rect(91px, 9999px, 10px, 0);
        -webkit-transform: skew(0.12deg);
                transform: skew(0.12deg);
   }
    50% {
        clip: rect(51px, 9999px, 64px, 0);
        -webkit-transform: skew(0.75deg);
                transform: skew(0.75deg);
   }
    55% {
        clip: rect(25px, 9999px, 6px, 0);
        -webkit-transform: skew(0.26deg);
                transform: skew(0.26deg);
   }
    60% {
        clip: rect(7px, 9999px, 76px, 0);
        -webkit-transform: skew(0.38deg);
                transform: skew(0.38deg);
   }
    65% {
        clip: rect(52px, 9999px, 58px, 0);
        -webkit-transform: skew(0.41deg);
                transform: skew(0.41deg);
   }
    70% {
        clip: rect(45px, 9999px, 63px, 0);
        -webkit-transform: skew(0.12deg);
                transform: skew(0.12deg);
   }
    75% {
        clip: rect(6px, 9999px, 44px, 0);
        -webkit-transform: skew(0.15deg);
                transform: skew(0.15deg);
   }
    80% {
        clip: rect(25px, 9999px, 34px, 0);
        -webkit-transform: skew(0.08deg);
                transform: skew(0.08deg);
   }
    85% {
        clip: rect(55px, 9999px, 36px, 0);
        -webkit-transform: skew(0.43deg);
                transform: skew(0.43deg);
   }
    90% {
        clip: rect(9px, 9999px, 73px, 0);
        -webkit-transform: skew(0.73deg);
                transform: skew(0.73deg);
   }
    95% {
        clip: rect(82px, 9999px, 57px, 0);
        -webkit-transform: skew(0.76deg);
                transform: skew(0.76deg);
   }
    100% {
        clip: rect(47px, 9999px, 52px, 0);
        -webkit-transform: skew(0.93deg);
                transform: skew(0.93deg);
   }
}
@-webkit-keyframes glitch-skew {
    0% {
        -webkit-transform: skew(-3deg);
                transform: skew(-3deg);
   }
    10% {
        -webkit-transform: skew(-3deg);
                transform: skew(-3deg);
   }
    20% {
        -webkit-transform: skew(1deg);
                transform: skew(1deg);
   }
    30% {
        -webkit-transform: skew(-4deg);
                transform: skew(-4deg);
   }
    40% {
        -webkit-transform: skew(0deg);
                transform: skew(0deg);
   }
    50% {
        -webkit-transform: skew(2deg);
                transform: skew(2deg);
   }
    60% {
        -webkit-transform: skew(2deg);
                transform: skew(2deg);
   }
    70% {
        -webkit-transform: skew(-1deg);
                transform: skew(-1deg);
   }
    80% {
        -webkit-transform: skew(-3deg);
                transform: skew(-3deg);
   }
    90% {
        -webkit-transform: skew(3deg);
                transform: skew(3deg);
   }
    100% {
        -webkit-transform: skew(3deg);
                transform: skew(3deg);
   }
}
@keyframes glitch-skew {
    0% {
        -webkit-transform: skew(-3deg);
                transform: skew(-3deg);
   }
    10% {
        -webkit-transform: skew(-3deg);
                transform: skew(-3deg);
   }
    20% {
        -webkit-transform: skew(1deg);
                transform: skew(1deg);
   }
    30% {
        -webkit-transform: skew(-4deg);
                transform: skew(-4deg);
   }
    40% {
        -webkit-transform: skew(0deg);
                transform: skew(0deg);
   }
    50% {
        -webkit-transform: skew(2deg);
                transform: skew(2deg);
   }
    60% {
        -webkit-transform: skew(2deg);
                transform: skew(2deg);
   }
    70% {
        -webkit-transform: skew(-1deg);
                transform: skew(-1deg);
   }
    80% {
        -webkit-transform: skew(-3deg);
                transform: skew(-3deg);
   }
    90% {
        -webkit-transform: skew(3deg);
                transform: skew(3deg);
   }
    100% {
        -webkit-transform: skew(3deg);
                transform: skew(3deg);
   }
}

@media screen and (max-width: 1570px) {
    .header-relative-div {
        left: 94vw;
    }
    .landingpage-flexwrapper {
        width: 100%;
    }
}


@media screen and (max-width: 1650px) {
    #avatar {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #avatar {
        display: none;
    }
    .wrapper {
        margin-left: 2rem;
        width: 100%;
        margin-top: 4rem;
        width: 90%;
    }
    .wrapper.home {
        margin-left: 2rem;
        width: 100%;
        margin-top: 4rem;
        width: 90%;
    }
    .header-relative-div {
        left: 94vw;
    }
    * {
        font-family: 'Montserrat', sans-serif;
        text-rendering: optimizeLegibility;
        text-decoration: none;
        font-size: 3vh;
        color: #fff;
    }
    #toggle {
        position: fixed;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    #toggle::before {
        content: '';
        position: absolute;
        top: 8px;
        width: 100%;
        height: 3px;
        background: #fff;
    }
    #toggle::after {
        content: '';
        position: absolute;
        bottom: 8px;
        width: 100%;
        height: 3px;
        background: #fff;
    }
    .navslide {
        position: fixed;
        width: 250px;
        height: 100vh;
        left: 100vw;
        top: 0px;
        background-color: var(--nav-clr);
        z-index: 999 !important;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease;
    }
    
    .header-relative-div.active ~ .wrapper {
        -webkit-transform: translateX(-250px); 
            -ms-transform: translateX(-250px); 
                transform: translateX(-250px); 
    }
    
    .header-relative-div.active + #toggle {
        -webkit-transform: translateX(-250px); 
            -ms-transform: translateX(-250px); 
                transform: translateX(-250px); 
    }
    
    .header-relative-div.active + #sec {
        -webkit-transform: translateX(-250px); 
            -ms-transform: translateX(-250px); 
                transform: translateX(-250px); 
    }
    
    .header-relative-div.active ~ .navslide {
        -webkit-transform: translateX(-250px); 
            -ms-transform: translateX(-250px); 
                transform: translateX(-250px); 
    }
    
    .header-relative-div.active {
        -webkit-transform: translateX(-250px); 
            -ms-transform: translateX(-250px); 
                transform: translateX(-250px); 
    }
}

@media screen and (max-width: 800px) {
    .header-relative-div {
        left: 92vw;
        top: 20px;
    }
    .second-header {
        font-weight: 600;
        font-size: 30px;
    }
    .landingpage-flexwrapper h1 {
        font-size: 50px;
    }
    body {
        margin-top: 90vh;
    }
}

@media screen and (max-width: 700px) {
    .second-header {
        font-weight: 600;
        font-size: 25px;
    }
    .landingpage-flexwrapper h1 {
        font-size: 44px;
    }
}

@media screen and (max-width: 600px) {
    .header-relative-div {
        left: 88vw;
        top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .header-relative-div {
        left: 86vw;
        top: 20px;
    }
}

@media screen and (max-width: 460px) {
    .header-relative-div.active ~ .wrapper {
        -webkit-transform: translateX(-300px);
            -ms-transform: translateX(-300px);
                transform: translateX(-300px);
    }
    .header-relative-div.active + #toggle {
        -webkit-transform: translateX(0px);
            -ms-transform: translateX(0px);
                transform: translateX(0px);
    }
    .header-relative-div.active + #sec {
        -webkit-transform: translateX(0px);
            -ms-transform: translateX(0px);
                transform: translateX(0px);
    }
    .header-relative-div.active ~ .navslide {
        -webkit-transform: translateX(-300px);
            -ms-transform: translateX(-300px);
                transform: translateX(-300px);
    }
    .header-relative-div.active {
        -webkit-transform: translateX(-300px);
            -ms-transform: translateX(-300px);
                transform: translateX(-300px);
    }
    .navslide {
        position: fixed;
        width: 300px;
        height: 100vh;
        left: 100vw;
        top: 0px;
        background-color: var(--nav-clr);
        z-index: 999 !important;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    .wrapper {
        margin-top: 1.5rem;
        margin-left: 1rem;
        width: 70%;
    }
    .wrapper.home {
        margin-top: 1.5rem;
        margin-left: 1rem;
        width: 70%;
    }
}

@media screen and (max-width: 360px) {
    .header-relative-div.active ~ .wrapper {
        -webkit-transform: translateX(-200px);
            -ms-transform: translateX(-200px);
                transform: translateX(-200px);
    }
    .header-relative-div.active + #toggle {
        -webkit-transform: translateX(0px);
            -ms-transform: translateX(0px);
                transform: translateX(0px);
    }
    .header-relative-div.active + #sec {
        -webkit-transform: translateX(0px);
            -ms-transform: translateX(0px);
                transform: translateX(0px);
    }
    .header-relative-div.active ~ .navslide {
        -webkit-transform: translateX(-200px);
            -ms-transform: translateX(-200px);
                transform: translateX(-200px);
    }
    .header-relative-div.active {
        -webkit-transform: translateX(-200px);
            -ms-transform: translateX(-200px);
                transform: translateX(-200px);
    }
    .navslide {
        position: fixed;
        width: 200px;
        height: 100vh;
        left: 100vw;
        top: 0px;
        background-color: var(--nav-clr);
        z-index: 999 !important;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
}

@media screen and (min-width: 2500px) {
    * {
        font-family: 'Montserrat', sans-serif;
        text-rendering: optimizeLegibility;
        text-decoration: none;
        font-size: 3vh;
        color: #fff;
    }
    #toggle {
        position: fixed;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    #toggle::before {
        content: '';
        position: absolute;
        top: 8px;
        width: 100%;
        height: 3px;
        background: #fff;
    }
    #toggle::after {
        content: '';
        position: absolute;
        bottom: 8px;
        width: 100%;
        height: 3px;
        background: #fff;
    }
    .navslide {
        position: fixed;
        width: 600px;
        height: 100vh;
        left: 100vw;
        top: 0px;
        background-color: var(--nav-clr);
        z-index: 999 !important;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease;
    }
    
    .header-relative-div.active ~ .wrapper {
        -webkit-transform: translateX(-600px); 
            -ms-transform: translateX(-600px); 
                transform: translateX(-600px); 
    }
    
    .header-relative-div.active + #toggle {
        -webkit-transform: translateX(-600px); 
            -ms-transform: translateX(-600px); 
                transform: translateX(-600px); 
    }
    
    .header-relative-div.active + #sec {
        -webkit-transform: translateX(-600px); 
            -ms-transform: translateX(-600px); 
                transform: translateX(-600px); 
    }
    
    .header-relative-div.active ~ .navslide {
        -webkit-transform: translateX(-600px); 
            -ms-transform: translateX(-600px); 
                transform: translateX(-600px); 
    }
    
    .header-relative-div.active {
        -webkit-transform: translateX(-600px); 
            -ms-transform: translateX(-600px); 
                transform: translateX(-600px); 
    }
    
    .wrapper {
        margin: 0 auto 0 12%;
        margin-top: 8rem;
        width: 70%;
        height: auto;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease;
        z-index: 900;
        opacity: 0;
    }
    
    .wrapper.home {
        margin: 0 auto 0 13%;
        margin-top: 9rem;
        width: 90%;
        height: auto;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease;
        z-index: 900;
        opacity: 0;
    }
    
    #pagepart {
        height: 100%;
        margin-bottom: 120vh;
    }
    
    #avatar {
        margin-left: auto;
        position: relative;
        left: -350px;
        top: -200px;
        width: 1500px;
        height: auto;
        -webkit-filter: drop-shadow(0px 10px 15px #000);
        filter: drop-shadow(0px 10px 15px #000);
    }
    .glitch {
        font-size: 7vh;
    }
    .second-header {
        font-size: 5vh;
        font-weight: 500;
    }
    .color {
        font-size: 5vh;
        font-weight: 500;
    }
    .smol.glitch {
        font-size: 3.5vh;
    }
}
@media screen and (min-width: 3770px) {
    * {
        font-family: 'Montserrat', sans-serif;
        text-rendering: optimizeLegibility;
        text-decoration: none;
        font-size: 3vh;
        color: #fff;
    }
    #toggle {
        margin-top: 0.5rem;
        margin-right: 0.3rem;
        position: fixed;
        width: 75px;
        height: 75px;
        cursor: pointer;
    }
    #toggle::before {
        content: '';
        position: absolute;
        top: 14px;
        width: 100%;
        height: 4px;
        background: #fff;
    }
    #toggle::after {
        content: '';
        position: absolute;
        bottom: 14px;
        width: 100%;
        height: 4px;
        background: #fff;
    }
    .glitch {
        font-size: 8vh;
    }
    .second-header {
        font-size: 6vh;
        font-weight: 500;
    }
    .color {
        font-size: 6vh;
        font-weight: 500;
    }
    .navslide {
        position: fixed;
        width: 800px;
        height: 100vh;
        left: 100vw;
        top: 0px;
        background-color: var(--nav-clr);
        z-index: 999 !important;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease;
    }
    
    .header-relative-div.active ~ .wrapper {
        -webkit-transform: translateX(-800px);
            -ms-transform: translateX(-800px);
                transform: translateX(-800px);
    }
    
    .header-relative-div.active + #toggle {
        -webkit-transform: translateX(-800px);
            -ms-transform: translateX(-800px);
                transform: translateX(-800px);
    }
    
    .header-relative-div.active + #sec {
        -webkit-transform: translateX(-800px);
            -ms-transform: translateX(-800px);
                transform: translateX(-800px);
    }
    
    .header-relative-div.active ~ .navslide {
        -webkit-transform: translateX(-800px);
            -ms-transform: translateX(-800px);
                transform: translateX(-800px);
    }
    
    .header-relative-div.active {
        -webkit-transform: translateX(-800px);
            -ms-transform: translateX(-800px);
                transform: translateX(-800px);
    }
    
    .wrapper {
        margin: 0 auto 0 12%;
        margin-top: 8rem;
        width: 70%;
        height: auto;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease;
        z-index: 900;
        opacity: 0;
    }
    
    .wrapper.home {
        margin: 0 auto 0 12%;
        margin-top: 8rem;
        width: 90%;
        height: auto;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease;
        z-index: 900;
        opacity: 0;
    }
    
    #pagepart {
        height: 100%;
        margin-bottom: 120vh;
    }
    
    #avatar {
        margin-left: auto;
        position: relative;
        left: -350px;
        top: -250px;
        width: 2200px;
        height: auto;
        -webkit-filter: drop-shadow(0px 10px 15px #000);
        filter: drop-shadow(0px 10px 15px #000);
    }
}