.top__left__deco {
  position: absolute;
  z-index: 50;
  font-size: 1.875rem;
  top: 10vh;
  left: 10vh;
  pointer-events: none;
  user-select: none;
}

.bottom__right__deco {
  position: absolute;
  z-index: 50;
  font-size: 1.875rem;
  bottom: 10vh;
  right: 10vh;
  pointer-events: none;
  user-select: none;
}

.main {
  height: 80vh;
  width: 60vw;
  margin-top: 10vh;
  margin: 10vh auto;
  padding: 2rem;
  /* overflow: hidden !important; */
  position: relative;
}