.page__container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.page__content__wrapper {
  z-index: 10;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo__wrapper {
  width: 10rem;
  height: 10rem;
  position: relative;
  margin-bottom: 1rem;
  z-index: 10;
}

.logo {
  /* "rounded-2xl relative z-20"  */
  border-radius: 1rem;
  position: relative;
  z-index: 20;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo__shadow {
  width: 10rem;
  height: 10rem;
  filter: blur(50px);
  border-radius: 1rem;
  background-image: linear-gradient(225deg, #030342, #6b0445);
  transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.page__title {
  color: transparent;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background: -webkit-linear-gradient(#ffffff 25%, #a9a9a9 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem;
  margin-top: 0;
  z-index: 20;
}

.page__subtitle {
  color: #ffffff;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}