@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-background: white;

  --scrollbar-track: #171717;
  --scrollbar-thumb: #cbd5e1;
  --scrollbar-thumb-hover: #f4f7fc;

  --scrollbar-width: 12px;

  --accent-color: rgb(168 85 247);
}

/* Firefox */
* {
  scrollbar-width: thick; /* none | auto  */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: var(--scrollbar-width); /* vertical scrollbar */
  height: var(--scrollbar-width); /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-width);
  border: calc(var(--scrollbar-width) / 4) solid var(--page-background);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background-color: #0e1016;
}

a {
  color: #0084ff;
  text-decoration: none;
}

a:hover {
  color: #0084ff;
  text-decoration: underline;
}

a#navitem {
  color: #ffffff;
  text-decoration: none;
}

a#navitem:hover {
  color: #ffffff;
  text-decoration: none;
}

a#c_s_nav:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div#customul ul li::before {
  content: "-";
  margin-right: 0.5rem;
}

ul {
  list-style-type: disc;
  margin-left: 2rem;
}

div#customul ul li ul {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  color: grey;
}

div#customul ul li ul li::before {
  content: "";
}

em {
  color: grey;
}

.tech-font {
  font-family: 'Chakra Petch', monospace;
}

.navitem {
  font-weight: 500;
}

.glitch {
  font-family: 'Chakra Petch', monospace;
  position: relative;
  color: white;
  letter-spacing: 0.1em;
 /* Animation provies a slight random skew. Check bottom of doc for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
  font-weight: 100;
  font-size: 50px;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 1px;
  text-shadow: -1px 0 #ff00c1;
 /* Creates an initial clip for our glitch. This works in a typical top,right,bottom,left fashion and creates a mask to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
 /* Runs our glitch-anim defined below to run in a 5s loop, infinitely, with an alternating animation to keep things fresh. */
  animation: glitch-anim 10s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -1px;
  text-shadow: -1px 0 #00fff9, 1px 1px #ff00c1;
  animation: glitch-anim2 1.8s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steps. For each step, it calculates a percentage for the specific step. It then generates a random clip box to be used for the random glitch effect. Also adds a very subtle skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
      clip: rect(85px, 9999px, 36px, 0);
      -webkit-transform: skew(0.54deg);
              transform: skew(0.54deg);
 }
  5% {
      clip: rect(51px, 9999px, 6px, 0);
      -webkit-transform: skew(0.16deg);
              transform: skew(0.16deg);
 }
  10% {
      clip: rect(4px, 9999px, 1px, 0);
      -webkit-transform: skew(0.47deg);
              transform: skew(0.47deg);
 }
  15% {
      clip: rect(16px, 9999px, 46px, 0);
      -webkit-transform: skew(0.75deg);
              transform: skew(0.75deg);
 }
  20% {
      clip: rect(26px, 9999px, 52px, 0);
      -webkit-transform: skew(1deg);
              transform: skew(1deg);
 }
  25% {
      clip: rect(81px, 9999px, 65px, 0);
      -webkit-transform: skew(0.24deg);
              transform: skew(0.24deg);
 }
  30% {
      clip: rect(5px, 9999px, 21px, 0);
      -webkit-transform: skew(0.16deg);
              transform: skew(0.16deg);
 }
  35% {
      clip: rect(62px, 9999px, 97px, 0);
      -webkit-transform: skew(0.67deg);
              transform: skew(0.67deg);
 }
  40% {
      clip: rect(26px, 9999px, 96px, 0);
      -webkit-transform: skew(0.39deg);
              transform: skew(0.39deg);
 }
  45% {
      clip: rect(46px, 9999px, 60px, 0);
      -webkit-transform: skew(0.62deg);
              transform: skew(0.62deg);
 }
  50% {
      clip: rect(5px, 9999px, 57px, 0);
      -webkit-transform: skew(0.93deg);
              transform: skew(0.93deg);
 }
  55% {
      clip: rect(41px, 9999px, 2px, 0);
      -webkit-transform: skew(0.21deg);
              transform: skew(0.21deg);
 }
  60% {
      clip: rect(83px, 9999px, 75px, 0);
      -webkit-transform: skew(0.89deg);
              transform: skew(0.89deg);
 }
  65% {
      clip: rect(54px, 9999px, 31px, 0);
      -webkit-transform: skew(0.8deg);
              transform: skew(0.8deg);
 }
  70% {
      clip: rect(7px, 9999px, 61px, 0);
      -webkit-transform: skew(0.48deg);
              transform: skew(0.48deg);
 }
  75% {
      clip: rect(41px, 9999px, 18px, 0);
      -webkit-transform: skew(0.45deg);
              transform: skew(0.45deg);
 }
  80% {
      clip: rect(59px, 9999px, 64px, 0);
      -webkit-transform: skew(0.27deg);
              transform: skew(0.27deg);
 }
  85% {
      clip: rect(11px, 9999px, 61px, 0);
      -webkit-transform: skew(0.35deg);
              transform: skew(0.35deg);
 }
  90% {
      clip: rect(21px, 9999px, 96px, 0);
      -webkit-transform: skew(0.37deg);
              transform: skew(0.37deg);
 }
  95% {
      clip: rect(30px, 9999px, 3px, 0);
      -webkit-transform: skew(0.16deg);
              transform: skew(0.16deg);
 }
  100% {
      clip: rect(16px, 9999px, 76px, 0);
      -webkit-transform: skew(0.74deg);
              transform: skew(0.74deg);
 }
}
@keyframes glitch-anim {
  0% {
      clip: rect(85px, 9999px, 36px, 0);
      -webkit-transform: skew(0.54deg);
              transform: skew(0.54deg);
 }
  5% {
      clip: rect(51px, 9999px, 6px, 0);
      -webkit-transform: skew(0.16deg);
              transform: skew(0.16deg);
 }
  10% {
      clip: rect(4px, 9999px, 1px, 0);
      -webkit-transform: skew(0.47deg);
              transform: skew(0.47deg);
 }
  15% {
      clip: rect(16px, 9999px, 46px, 0);
      -webkit-transform: skew(0.75deg);
              transform: skew(0.75deg);
 }
  20% {
      clip: rect(26px, 9999px, 52px, 0);
      -webkit-transform: skew(1deg);
              transform: skew(1deg);
 }
  25% {
      clip: rect(81px, 9999px, 65px, 0);
      -webkit-transform: skew(0.24deg);
              transform: skew(0.24deg);
 }
  30% {
      clip: rect(5px, 9999px, 21px, 0);
      -webkit-transform: skew(0.16deg);
              transform: skew(0.16deg);
 }
  35% {
      clip: rect(62px, 9999px, 97px, 0);
      -webkit-transform: skew(0.67deg);
              transform: skew(0.67deg);
 }
  40% {
      clip: rect(26px, 9999px, 96px, 0);
      -webkit-transform: skew(0.39deg);
              transform: skew(0.39deg);
 }
  45% {
      clip: rect(46px, 9999px, 60px, 0);
      -webkit-transform: skew(0.62deg);
              transform: skew(0.62deg);
 }
  50% {
      clip: rect(5px, 9999px, 57px, 0);
      -webkit-transform: skew(0.93deg);
              transform: skew(0.93deg);
 }
  55% {
      clip: rect(41px, 9999px, 2px, 0);
      -webkit-transform: skew(0.21deg);
              transform: skew(0.21deg);
 }
  60% {
      clip: rect(83px, 9999px, 75px, 0);
      -webkit-transform: skew(0.89deg);
              transform: skew(0.89deg);
 }
  65% {
      clip: rect(54px, 9999px, 31px, 0);
      -webkit-transform: skew(0.8deg);
              transform: skew(0.8deg);
 }
  70% {
      clip: rect(7px, 9999px, 61px, 0);
      -webkit-transform: skew(0.48deg);
              transform: skew(0.48deg);
 }
  75% {
      clip: rect(41px, 9999px, 18px, 0);
      -webkit-transform: skew(0.45deg);
              transform: skew(0.45deg);
 }
  80% {
      clip: rect(59px, 9999px, 64px, 0);
      -webkit-transform: skew(0.27deg);
              transform: skew(0.27deg);
 }
  85% {
      clip: rect(11px, 9999px, 61px, 0);
      -webkit-transform: skew(0.35deg);
              transform: skew(0.35deg);
 }
  90% {
      clip: rect(21px, 9999px, 96px, 0);
      -webkit-transform: skew(0.37deg);
              transform: skew(0.37deg);
 }
  95% {
      clip: rect(30px, 9999px, 3px, 0);
      -webkit-transform: skew(0.16deg);
              transform: skew(0.16deg);
 }
  100% {
      clip: rect(16px, 9999px, 76px, 0);
      -webkit-transform: skew(0.74deg);
              transform: skew(0.74deg);
 }
}
@-webkit-keyframes glitch-anim2 {
  0% {
      clip: rect(39px, 9999px, 60px, 0);
      -webkit-transform: skew(0.28deg);
              transform: skew(0.28deg);
 }
  5% {
      clip: rect(50px, 9999px, 74px, 0);
      -webkit-transform: skew(0.77deg);
              transform: skew(0.77deg);
 }
  10% {
      clip: rect(81px, 9999px, 16px, 0);
      -webkit-transform: skew(0.45deg);
              transform: skew(0.45deg);
 }
  15% {
      clip: rect(79px, 9999px, 42px, 0);
      -webkit-transform: skew(0.59deg);
              transform: skew(0.59deg);
 }
  20% {
      clip: rect(2px, 9999px, 81px, 0);
      -webkit-transform: skew(0.88deg);
              transform: skew(0.88deg);
 }
  25% {
      clip: rect(19px, 9999px, 83px, 0);
      -webkit-transform: skew(0.64deg);
              transform: skew(0.64deg);
 }
  30% {
      clip: rect(82px, 9999px, 69px, 0);
      -webkit-transform: skew(0.44deg);
              transform: skew(0.44deg);
 }
  35% {
      clip: rect(35px, 9999px, 65px, 0);
      -webkit-transform: skew(0.32deg);
              transform: skew(0.32deg);
 }
  40% {
      clip: rect(19px, 9999px, 91px, 0);
      -webkit-transform: skew(0.45deg);
              transform: skew(0.45deg);
 }
  45% {
      clip: rect(91px, 9999px, 10px, 0);
      -webkit-transform: skew(0.12deg);
              transform: skew(0.12deg);
 }
  50% {
      clip: rect(51px, 9999px, 64px, 0);
      -webkit-transform: skew(0.75deg);
              transform: skew(0.75deg);
 }
  55% {
      clip: rect(25px, 9999px, 6px, 0);
      -webkit-transform: skew(0.26deg);
              transform: skew(0.26deg);
 }
  60% {
      clip: rect(7px, 9999px, 76px, 0);
      -webkit-transform: skew(0.38deg);
              transform: skew(0.38deg);
 }
  65% {
      clip: rect(52px, 9999px, 58px, 0);
      -webkit-transform: skew(0.41deg);
              transform: skew(0.41deg);
 }
  70% {
      clip: rect(45px, 9999px, 63px, 0);
      -webkit-transform: skew(0.12deg);
              transform: skew(0.12deg);
 }
  75% {
      clip: rect(6px, 9999px, 44px, 0);
      -webkit-transform: skew(0.15deg);
              transform: skew(0.15deg);
 }
  80% {
      clip: rect(25px, 9999px, 34px, 0);
      -webkit-transform: skew(0.08deg);
              transform: skew(0.08deg);
 }
  85% {
      clip: rect(55px, 9999px, 36px, 0);
      -webkit-transform: skew(0.43deg);
              transform: skew(0.43deg);
 }
  90% {
      clip: rect(9px, 9999px, 73px, 0);
      -webkit-transform: skew(0.73deg);
              transform: skew(0.73deg);
 }
  95% {
      clip: rect(82px, 9999px, 57px, 0);
      -webkit-transform: skew(0.76deg);
              transform: skew(0.76deg);
 }
  100% {
      clip: rect(47px, 9999px, 52px, 0);
      -webkit-transform: skew(0.93deg);
              transform: skew(0.93deg);
 }
}
@keyframes glitch-anim2 {
  0% {
      clip: rect(39px, 9999px, 60px, 0);
      -webkit-transform: skew(0.28deg);
              transform: skew(0.28deg);
 }
  5% {
      clip: rect(50px, 9999px, 74px, 0);
      -webkit-transform: skew(0.77deg);
              transform: skew(0.77deg);
 }
  10% {
      clip: rect(81px, 9999px, 16px, 0);
      -webkit-transform: skew(0.45deg);
              transform: skew(0.45deg);
 }
  15% {
      clip: rect(79px, 9999px, 42px, 0);
      -webkit-transform: skew(0.59deg);
              transform: skew(0.59deg);
 }
  20% {
      clip: rect(2px, 9999px, 81px, 0);
      -webkit-transform: skew(0.88deg);
              transform: skew(0.88deg);
 }
  25% {
      clip: rect(19px, 9999px, 83px, 0);
      -webkit-transform: skew(0.64deg);
              transform: skew(0.64deg);
 }
  30% {
      clip: rect(82px, 9999px, 69px, 0);
      -webkit-transform: skew(0.44deg);
              transform: skew(0.44deg);
 }
  35% {
      clip: rect(35px, 9999px, 65px, 0);
      -webkit-transform: skew(0.32deg);
              transform: skew(0.32deg);
 }
  40% {
      clip: rect(19px, 9999px, 91px, 0);
      -webkit-transform: skew(0.45deg);
              transform: skew(0.45deg);
 }
  45% {
      clip: rect(91px, 9999px, 10px, 0);
      -webkit-transform: skew(0.12deg);
              transform: skew(0.12deg);
 }
  50% {
      clip: rect(51px, 9999px, 64px, 0);
      -webkit-transform: skew(0.75deg);
              transform: skew(0.75deg);
 }
  55% {
      clip: rect(25px, 9999px, 6px, 0);
      -webkit-transform: skew(0.26deg);
              transform: skew(0.26deg);
 }
  60% {
      clip: rect(7px, 9999px, 76px, 0);
      -webkit-transform: skew(0.38deg);
              transform: skew(0.38deg);
 }
  65% {
      clip: rect(52px, 9999px, 58px, 0);
      -webkit-transform: skew(0.41deg);
              transform: skew(0.41deg);
 }
  70% {
      clip: rect(45px, 9999px, 63px, 0);
      -webkit-transform: skew(0.12deg);
              transform: skew(0.12deg);
 }
  75% {
      clip: rect(6px, 9999px, 44px, 0);
      -webkit-transform: skew(0.15deg);
              transform: skew(0.15deg);
 }
  80% {
      clip: rect(25px, 9999px, 34px, 0);
      -webkit-transform: skew(0.08deg);
              transform: skew(0.08deg);
 }
  85% {
      clip: rect(55px, 9999px, 36px, 0);
      -webkit-transform: skew(0.43deg);
              transform: skew(0.43deg);
 }
  90% {
      clip: rect(9px, 9999px, 73px, 0);
      -webkit-transform: skew(0.73deg);
              transform: skew(0.73deg);
 }
  95% {
      clip: rect(82px, 9999px, 57px, 0);
      -webkit-transform: skew(0.76deg);
              transform: skew(0.76deg);
 }
  100% {
      clip: rect(47px, 9999px, 52px, 0);
      -webkit-transform: skew(0.93deg);
              transform: skew(0.93deg);
 }
}
@-webkit-keyframes glitch-skew {
  0% {
      -webkit-transform: skew(-3deg);
              transform: skew(-3deg);
 }
  10% {
      -webkit-transform: skew(-3deg);
              transform: skew(-3deg);
 }
  20% {
      -webkit-transform: skew(1deg);
              transform: skew(1deg);
 }
  30% {
      -webkit-transform: skew(-4deg);
              transform: skew(-4deg);
 }
  40% {
      -webkit-transform: skew(0deg);
              transform: skew(0deg);
 }
  50% {
      -webkit-transform: skew(2deg);
              transform: skew(2deg);
 }
  60% {
      -webkit-transform: skew(2deg);
              transform: skew(2deg);
 }
  70% {
      -webkit-transform: skew(-1deg);
              transform: skew(-1deg);
 }
  80% {
      -webkit-transform: skew(-3deg);
              transform: skew(-3deg);
 }
  90% {
      -webkit-transform: skew(3deg);
              transform: skew(3deg);
 }
  100% {
      -webkit-transform: skew(3deg);
              transform: skew(3deg);
 }
}
@keyframes glitch-skew {
  0% {
      -webkit-transform: skew(-3deg);
              transform: skew(-3deg);
 }
  10% {
      -webkit-transform: skew(-3deg);
              transform: skew(-3deg);
 }
  20% {
      -webkit-transform: skew(1deg);
              transform: skew(1deg);
 }
  30% {
      -webkit-transform: skew(-4deg);
              transform: skew(-4deg);
 }
  40% {
      -webkit-transform: skew(0deg);
              transform: skew(0deg);
 }
  50% {
      -webkit-transform: skew(2deg);
              transform: skew(2deg);
 }
  60% {
      -webkit-transform: skew(2deg);
              transform: skew(2deg);
 }
  70% {
      -webkit-transform: skew(-1deg);
              transform: skew(-1deg);
 }
  80% {
      -webkit-transform: skew(-3deg);
              transform: skew(-3deg);
 }
  90% {
      -webkit-transform: skew(3deg);
              transform: skew(3deg);
 }
  100% {
      -webkit-transform: skew(3deg);
              transform: skew(3deg);
 }
}

#wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

#navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar {
  width: 80%;
}

#avatar {
  filter: drop-shadow(0px 10px 15px #000);
  min-width: 400px;
}

#navitem {
  display: inline-block;
  position: relative;
  width: fit-content;
}

.active#navitem::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0rem;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 0.3s;
}

#navitem::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0rem;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

#section-header, #section-subheader {
  display: inline-block;
  position: relative;
  width: fit-content;
  margin-bottom: 1.5rem;
}

#section-header::after {
  position: absolute;
  content: "";
  top: 105%;
  left: 0rem;
  width: 101%;
  height: 2px;
  background: var(--accent-color);
  transform: scaleX(1);
  transition: transform 0.3s;
}

#section-subheader::after {
  position: absolute;
  content: "";
  top: 105%;
  left: 0rem;
  width: 101%;
  height: 1px;
  background: var(--accent-color);
  transform: scaleX(1);
  transition: transform 0.3s;
}

svg {
  transition: all 0.3s ease;
}

#twitter_icon:hover {
  fill: #00ACEE;
}

#github_icon:hover {
  fill: grey;
}

#footer-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

a#link {
  color: #0084ff;
  text-decoration: none;
  transition: all 0.15s ease;
}

a#link:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

h2 {
  font-size: 1.7em;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.article {
  font-size: 1.2em;
}

#home-proj-img {
  min-width: 200px;
}

.article-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 1536px) {
  .article-image {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .article-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}